<div  style="background-image: url('../assets/images/bbb.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
  <!-- Mask & flexbox options-->
  <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
    <!-- Content -->
    <div class="container">
      <!--Grid row-->
      <div class="row mt-5">
        <!--Grid column-->
        <div class="col-md-12  white-text text-center text-md-center">
          <h1 class="h1-responsive font-weight-bold wow fadeInCenter" data-wow-delay="0.3s">Traitement des réclamations</h1>
          <hr class="hr-light wow fadeInCenter" data-wow-delay="0.3s">
          
        </div>
        <!--Grid column-->
          <div class="container white-text text-center text-md-center" *ngIf="connect.role=='Chef-Back' ;">
             <div class=row>
             <div class="col-md-8">
              <!--Table-->
             <table class="table table-striped w-auto  white-text">

        <!--Table head-->
        <thead>
            <tr>
                <th>#</th>
                <th>ID</th>
                <th>Type</th>
                <th>Niveau</th>
                <th>Description</th>
                <th>Etat</th>
                <th>ID Client</th>
                <th>Réponse</th>

            </tr>
        </thead>
        <!--Table head-->
    
        <!--Table body-->
        <tbody>
          <tr class="table-info" *ngFor="let back of backs; let i = index;">

            <th scope="row">{{i+1}}</th>
            <td>{{back.id_rec}}</td>
            <td>{{back.type}}</td>
            <td>{{back.niveau}}</td>
            <td>{{back.description}}</td>
            <td>{{back.etat}}</td>
            <td>{{back.client.id_user}}</td>
            <td>{{back.reponse}}</td>



            </tr>
           
        </tbody>
        <!--Table body-->
    
    
    </table>
             </div>
             <div class="col-md-4">
               
                  <div class="container">
                <div class="text-center">
                    <h3 class="white-text">
                      <mdb-icon fas icon="user" class="white-text"></mdb-icon> Ajouter un PV:</h3>

                    <hr class="hr-light">
                  </div>
                  <!--Body-->
                  <form >
                      <div class="form-group">
                          <mdb-icon fas icon="pencil-alt" class="prefix white-text"> </mdb-icon>
                          <label for="reponseback"> Réponse</label>
                          <textarea [(formControl)]="reponseback" name="reponseback" type="text" id="reponseback" class="md-textarea md-textarea-auto form-control" rows="3" mdbInput></textarea>
                        </div>
                 
                  
                 
                  <div class="form-group">
                    <label for="niveau" class="text-white">ID reclamation :</label>
                    <select [(formControl)]="id_reclamationb" name="id_reclamationb"  id="id_reclamationb" class="browser-default custom-select mb-4" >
                    <option value="" disabled>Choose option</option>
                    <option [value]="back.id_rec" *ngFor="let back of backs;">id: {{back.id_rec}}</option>
                   
                </select>
            </div>
                  <div class="text-center mt-4">
                    <button mdbBtn color="indigo" mdbWavesEffect  (click)="ajoutePVB()">Ajouter</button>
                    
                  </div>
                </form>
             </div>
    
        
             </div>
            </div>
          </div>
          
          <div class="container" *ngIf="connect.role=='Chef-Front';">
              <div class=row>
                  <div class="col-md-6">
              <div class="col-md-6">
            <!--Table-->
           <table class="table table-striped w-auto  white-text">

      <!--Table head-->
      <thead>
          <tr>
              <th>#</th>
              <th>ID</th>
              <th>Type</th>
              <th>Niveau</th>
              <th>Description</th>
              <th>Etat</th>
              <th>ID Client</th>
              <th>Réponse</th>

          </tr>
      </thead>
      <!--Table head-->
  
      <!--Table body-->
      <tbody>
          <tr class="table-info" *ngFor="let front of fronts; let i = index;">
              <th scope="row">{{i+1}}</th>
              <td>{{front.id_rec}}</td>
              <td>{{front.niveau}}</td>
              <td>{{front.description}}</td>
              <td>{{front.etat}}</td>
              <td>{{front.client.id_user}}</td>
              <td>{{front.reponse}}</td>


          </tr>
         
      </tbody>
      <!--Table body-->
  
  
  </table>
  <!--Table-->
        </div>
        <div class="col-md-6">
           
              <div class="container">
            <div class="text-center">
                <h3 class="white-text">
                  <mdb-icon fas icon="user" class="white-text"></mdb-icon> Ajouter un PV:</h3>
                <hr class="hr-light">
              </div>
              <!--Body-->
              <form >
                  <div class="form-group">
                      <mdb-icon fas icon="pencil-alt" class="prefix white-text"> </mdb-icon>
                          <label for="reponsefront"> Réponse</label>
                      <textarea [(formControl)]="reponsefront" name="reponsefront" type="text" id="reponsefront" class="md-textarea md-textarea-auto form-control"  rows="3" mdbInput></textarea>
                    </div>
              <div class="form-group">
                <label for="niveau" class="text-white">ID reclamation:</label>
                <select [(formControl)]="id_reclamationf" name="id_reclamationf"  id="id_reclamationf" class="browser-default custom-select mb-4" >
                <option value="" disabled>Choose option</option>
                <option [value]="front.id_rec" *ngFor="let front of fronts;">id: {{front.id_rec}}</option>
               
            </select>
        </div>
              <div class="text-center mt-4">
                <button mdbBtn color="indigo" mdbWavesEffect  (click)="ajoutePVF()">Ajouter PV</button>
                
              </div>
            </form>
         </div>
         

      </div>
         </div>
        </div>
          </div>
         

         
      </div>
      <!--Grid row-->
    </div>
    <!-- Content -->
  </div>
  <!-- Mask & flexbox options-->
</div>
<!-- Full Page Intro -->