.top-nav-collapse {
    background-color: #3f51b5 !important;
  }
  
  .navbar:not(.top-nav-collapse) {
    background:transparent !important;
  }
  
  @media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
      background: #3f51b5 !important;
    }
  }

