<div  style="background-image: url('../assets/images/bbb.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
	<!-- Mask & flexbox options-->
	<div class="mask rgba-gradient d-flex justify-content-center align-items-center">
	  <!-- Content -->
		<!--Grid row-->
		<div class="row mt-5">
		  <!--Grid column-->
		  <div class="col-md-4 mb-5 mt-md-0 mt-5 white-text  text-md-left">
			<h1 class="h1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s">Consulter un conseiller:</h1>
			<hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
			
		  </div>
		  <!--Grid column-->
		  <!--Grid column-->
		  <div class="col-md-8 mb-5 mt-md-0 mt-5 white-text  text-md-right">
  
			<div class="container">
  
  
	  <h3 class=" text-center">Messaging</h3>
	  <div class="messaging">
		<div class="inbox_msg">
		  <div class="inbox_people">
			<div class="headind_srch">
			  <div class="recent_heading">
				<h4>Recent</h4>
			  </div>
			</div>
			<div class="inbox_chat">
			  <div class="chat_list" >
				<div class="chat_people" (click)="clickUser(chosenUser?.id_user)">
				  <div class="chat_img"> <img src="../../assets/images/conseiller.png" alt="sunil"> </div>
				  <div class="chat_ib">
					<h5>{{chosenUser?.username}}</h5>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		  <div class="mesgs" >
			<div class="msg_history" >
			  <div *ngFor="let message of listeMessages">
			  <div *ngIf="message?.user?.id_user === chosenUser?.id_user" class="incoming_msg">
				<div class="incoming_msg_img"> <img src="../../assets/images/conseiller.png" alt="sunil">
				</div>
				<div class="received_msg">
				  <div class="received_withd_msg">
					<p>{{message.content}}</p>
					<span class="time_date"> {{message.createdDate | date}}</span>
				  </div>
				</div>
			  </div>
			  <div *ngIf="message?.user?.id_user !== chosenUser?.id_user" class="outgoing_msg">
				<div class="sent_msg">
				  <p>{{message.content}}</p>
				  <span class="time_date"> {{message.createdDate | date}}</span>
				</div>
			  </div>
			</div>
		  </div>
			<div class="type_msg">
			  <div class="input_msg_write">
				<form [formGroup] = "messageForm">
				<input type="text" formControlName="content" class="write_msg" placeholder="Type a message" />
				<button class="msg_send_btn" (click)="sendMessage()" type="submit"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
			  </form>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	
	</div>
	</div>
	</div>
	</div>
	</div>
	