<div  style="background-image: url('../assets/images/bbb.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <!-- Mask & flexbox options-->
    <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
      <!-- Content -->
      <div class="container">
        <!--Grid row-->
        <div class="row mt-5">
          <!--Grid column-->
          <div class="col-md-12  white-text text-center text-md-center">
            <h1 class="h1-responsive font-weight-bold wow fadeInCenter" data-wow-delay="0.3s">Mes réclamations</h1>
            <hr class="hr-light wow fadeInCenter" data-wow-delay="0.3s">
            
          </div>
          <!--Grid column-->
          <div class="col-md-12  white-text text-center text-md-center">
              
             
             
             
              <!--Table-->
<table class="table table-striped w-auto  white-text">

        <!--Table head-->
        <thead>
            <tr>
                <th>#</th>
                <th>ID</th>
                <th>Type</th>
                <th>Niveau</th>
                <th>Description</th>
                <th>Etat</th>
                <th>Réponse</th>
                
            </tr>
        </thead>
        <!--Table head-->
    
        <!--Table body-->
        <tbody   >
            <tr class="table-info" *ngFor="let reclamation of reclamations; let i = index;" >
              
                <th scope="row" > {{i+1}}</th>
                <td>{{reclamation.id_rec}}</td>
                <td>{{reclamation.type}}</td>
                <td>{{reclamation.niveau}}</td>
                <td>{{reclamation.etat}}</td>
                <td>{{reclamation.description}}</td>
                <td >{{reclamation.reponse}}</td>
                
            </tr>
           
        </tbody>
        <!--Table body-->
    
    
    </table>
    <!--Table-->
          </div>
         
         
        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
  </div>
  <!-- Full Page Intro -->