
.view {
  min-height: 100vh;
}

@media (max-width: 740px) {
 
  .view {
    min-height: 1000px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  
  .view {
    min-height: 650px;
  }
}

.container{
    padding-top: 5%;
}

.rgba-gradient {
  background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%);
  background: -webkit-gradient(linear, 45deg, from(rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%));
  background: linear-gradient(to 45deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%);
}

.card {
  background-color: rgba(126, 123, 215, 0.2);
}

.md-form label {
  color: #ffffff;
}

h6 {
  line-height: 1.7;
}