<div  style="background-image: url('../assets/images/bbb.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <!-- Mask & flexbox options-->
    <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
      <!-- Content -->
      <div class="container">
        <!--Grid row-->
        <div class="row mt-5">
          <!--Grid column-->
          <div class="col-md-6 mb-5 mt-md-0 mt-5 white-text text-center text-md-left">
            <h1 class="h1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s">Faire une réclamation</h1>
            <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
            
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-md-6 col-xl-5 mb-4">
            <!--Form-->
            <mdb-card class="wow fadeInRight" data-wow-delay="0.3s">
              <mdb-card-body>
                <!--Header-->
                <div class="text-center">
                  <h3 class="white-text">
                    <mdb-icon fas icon="user" class="white-text"></mdb-icon> Réclamation:</h3>
                  <hr class="hr-light">
                </div>
                <!--Body-->
                <form >
                  
                <div class="form-group">
                        <label for="type" class="text-white">Type</label>
                  <select  [(formControl)]="type" name="type" id="type" class="browser-default custom-select mb-4" >
                        <option value="" disabled>Choose option</option>
                        <option value="Front_end" >Front-end</option>
                        <option value="Back_end">Back-end</option>
                    </select>
                  
                </div>
                <div class="form-group">
                        <label for="niveau" class="text-white">Niveau</label>
                        <select [(formControl)]="niveau" name="niveau"  id="niveau" class="browser-default custom-select mb-4" >
                        <option value="" disabled>Choose option</option>
                        <option value="Faible" >Faible</option>
                        <option value="Moyen">Moyen</option>
                        <option value="Elevee">Elevée</option>
                    </select>
                </div>
               
                          <div class="md-form">
                                <mdb-icon fas icon="pencil-alt" class="prefix white-text"></mdb-icon>
                                <textarea [(formControl)]="description" name="description" type="text" id="form107" style="color: white;" class="md-textarea md-textarea-auto form-control" rows="3" mdbInput></textarea>
                                <label for="form107">Description</label>
                              </div>
                <div class="text-center mt-4">
                  <button mdbBtn color="indigo" mdbWavesEffect  (click)="reclamer()">Réclamer</button>
                  <hr class="hr-light mb-3 mt-4">
                  <div class="inline-ul text-center d-flex justify-content-center">
                      <p>Voir your reclamations?
                          <a routerLink="../reclamationC">Mes réclamations</a>
                        </p>
                  </div>
                </div>
              </form>
              </mdb-card-body>
            </mdb-card>
            <!--/.Form-->
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
  </div>
  <!-- Full Page Intro -->
